<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
    <filter-name>RightFilter</filter-name>
    <filter-class>com.psm.filter.RightFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RightFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.psm.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.psm.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>emp</servlet-name>
    <servlet-class>com.psm.servlet.EmpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>goods</servlet-name>
    <servlet-class>com.psm.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>supplier</servlet-name>
    <servlet-class>com.psm.servlet.SupplierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>order</servlet-name>
    <servlet-class>com.psm.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>emp</servlet-name>
    <url-pattern>/servlet/empServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>goods</servlet-name>
    <url-pattern>/servlet/goodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>supplier</servlet-name>
    <url-pattern>/servlet/supplierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/servlet/orderServlet</url-pattern>
  </servlet-mapping>
</web-app>